/* Color Scheme 

Main  rgb(242, 68, 79) 
second  rgb(31, 57, 141)
Third  rgb(1, 165, 76)
Fourth rgb(106, 217, 242)

*/



/* Global */

body {
background: red;
}


/* Typography 

Headings

font-family: 'Comfortaa', cursive;

*/


/* Navigation */

li {
display: inline-block;
}


h1{
font-family: 'Comfortaa', cursive;
}