/* Color Scheme 

Main  rgb(242, 68, 79) 
second  rgb(31, 57, 141)
Third  rgb(1, 165, 76)
Fourth rgb(106, 217, 242)

*/



/* Global */

body {
background-image: url(../img/soil-and-grass-hd-wallpaper-for-desktop-background-download-soil-images-free.jpg);
    
}

p {
color: rgb(1, 165, 76);
}


/* Typography 

Headings

font-family: 'Comfortaa', cursive;

*/



h1{
font-family: 'Comfortaa', cursive;
    color: rgb(1, 165, 76);
    text-align: center;
   
}

h2 {
color: rgb(242, 68, 79) ;
    text-align: center;
    
}

/* Navigation */

li {
display: inline-block;
}


a:link {
font-family: 'Comfortaa', cursive;
    font-size: 2em;
    padding: .5em 1em;
    background-color: rgb(106, 217, 242);
    border-radius: 75%;
    text-decoration: none;}


a:focus,
a:active,
a:hover 
{ 
background-color:rgb(242, 68, 79) ;
}
 





